extends layout

style.

block content
  h1= title
  p Welcome to #{title}

  h2 Tips
  ul
  li
   a(href="getquery.html?hoge=foobar&pigs=boo,foo,woo", target="_blank") query を取得します。


  h2 API
  ul
  li
   a(href="api/socket.html", target="_blank") socket で送信します。
  li
   a(href="api/post.html", target="_blank") post で送信します。
  li
   a(href="api/get.html", target="_blank") get で送信します。
   
  ul
    li
      a(href="api?command=up", target="_blank") api?command=up で +1 します。
    li
      a(href="api?command=down", target="_blank") api?command=down で -1 します。
    li
      a(href="api?command=set&count=456", target="_blank") api?command=set&amp;count=456 で456にセットします。
    li
      a(href="api/params/up", target="_blank") api/up で +1 します。
    li
      a(href="api/params/down", target="_blank") api/down で -1 します。
    li
      a(href="api/params/set/456", target="_blank") api/set/456 で456にセットします。


  h2 upload
  ul
  li
   a(href="upload/drop.html", target="_blank") エリアにドロップ 複数対応で画面遷移なしでファイル送信します。
  li
   a(href="upload/formdata.html", target="_blank") ファイル選択 複数対応で画面遷移なしでファイル送信します。
  li
   a(href="upload/dropjquery.html", target="_blank") エリアにドロップ 複数対応で画面遷移なしでファイル送信します with jQuery。
  li
   a(href="upload/formdatajquery.html", target="_blank") ファイル選択 複数対応で画面遷移なしでファイル送信します with jQuery。
  li
   a(href="upload/upload.html", target="_blank") ファイル選択 複数対応で画面遷移ありでファイル送信します。


  h2 account
  ul
  li
   a(href="account/", target="_blank") ブラウザのクッキーを取得して、idとpwが一致していれば welcome
  li
   a(href="account/login.html", target="_blank") ログイン（既にアカウントを持っている人向け）
  li
   a(href="account/signup.html", target="_blank") アカウント作成（ミスしてgithubで共有しないようにsave機能は一時的に停止）


  h2 access
  ul
  li
   a(href="access/set?name=home&language=ja", target="_blank") home に日本語でアクセスしたことを記録
  li
   a(href="access/set?name=page1&language=cn", target="_blank") page1 に中国語でアクセスしたことを記録
  li
   a(href="access/get?startDate=2015-4-02&endDate=2030-6-5&format=json", target="_blank") 指定の期間内の記録を nameとlanguageでカウントして jsonで返す。
  li
   a(href="access/get?startDate=2018-4-02&endDate=2030-6-5&format=csv", target="_blank") 指定の期間内の記録を nameとlanguageでカウントして csv（shift-jis）でダウンロード。
  li
   a(href="access/get", target="_blank") 無指定の場合は、30日以内の記録をnameとlanguageでカウントして jsonで返す。
  li
   a(href="access/get?startDate=2018-4-02&endDate=2030-6-5&format=raw", target="_blank") 指定の期間内の全記録を csv（shift-jis） でダウンロード。

  h2 viewer
  ul
  li
   a(href="viewer", target="_blank") list
  li
   a(href="viewer/aaa/list", target="_blank") aaa/list
  li
   a(href="viewer/aaa/index.html", target="_blank") aaa apiから取得した jpg/mp4 の自動連続再生
  li
   a(href="viewer/aaa/manager.html", target="_blank") aaa ファイルの追加、削除を行う管理画面。
  li
   a(href="viewer/bbb/index.html", target="_blank") bbb apiから取得した jpg/mp4 の自動連続再生
  li
   a(href="viewer/bbb/manager.html", target="_blank") bbb ファイルの追加、削除を行う管理画面。

  h2 chat
  ul
  li
   a(href="chat/index.html?roomid=abc", target="_blank") chat roomid=abc
  li
   a(href="chat/index.html?roomid=efg", target="_blank") chat roomid=efg

  h2 netinfo
  ul
  li
   a(href="netinfo", target="_blank") ネットワーク内のデバイスを取得
  li
   a(href="netinfo/refresh", target="_blank") netinfo/refresh

  h2 QRCode
  ul
  li
   a(href="qrcode/hoge.png?text=boofoowoo", target="_blank") qrcode/hoge.png?text=boofoowoo
   span  qrcode/hoge.png に 該当ファイルが無い場合、boofoowoo のテキストを埋め込んだ qrコード を生成。二回目以降のアクセスでは、ファイルの取得として処理。
  li
   a(href="qrcode/remove/hoge.png", target="_blank") qrcode/remove/hoge.png
   span  qrcode/hoge.png を削除
  li
   a(href="qrcode/remove/all", target="_blank") qrcode/remove/all
   span  qrcode 内ファイル全削除
  li
   a(href="qrcode/remove/123000", target="_blank") qrcode/remove/123000
   span  生成後 123000 ミリ秒以上経過のファイル削除